{% include 'header.html' %}

<br>

<body>
    </head>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: "prev,next today",
                    center: "title",
                    right: "dayGridMonth,timeGridWeek,timeGridDay"
                },
                select: function (info) {
                    alert('selected ' + info.startStr + ' to ' + info.endStr);
                },
                events: [{% for reserva_depto in reserva_depto %}{ title: '{{reserva_depto[2]}}', start: '{{reserva_depto[1]}}', end: '{{reserva_depto[2]}}', backgroundColor: 'red' }, {% endfor %}],
            selectable: true,
            selectHelper: true,
            locale: 'es',
            initialView: 'dayGridMonth',
            select: function (start, end, allDay, info) {
                var title = prompt("titutlox");
                if (title) {
                    var start = fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                    var end = fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");

                    events:[{title: info.startStr, start: start, end: info.endStr } ]
                    
                    
                }

            }
            });

        calendar.render();
        });
    </script>

    <body>
        {% for reserva_depto in reserva_depto %}{{reserva_depto[1]}} {{reserva_depto[2]}} {% endfor %}

        <div id='calendar'></div>
    </body>
</body>