{% include 'header_admin.html' %}

<title>Lista</title>
<figure class="text-center">
  <br>
  <div class="col-t-9 p-3 ">
    <h1>Inventario</h1>
  </div>
</figure>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="/registrar_depto"><button id="btnRempleado" class="btn btn-outline-danger ">Registrar departamento</button></a>
  <a href="/listar_clientes"><button class="btn btn-outline-success">Lista de cliente</button></a>
  <a href="/listar_empleados"><button id="btnLempleado" class="btn btn-outline-info">Lista de empleados</button></a>
</div>
<br>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for category, message in messages %}

    <script>

      Swal.fire({
        icon: '{{category}}',
        text: '{{message}}',
      })
    </script>

    {% endfor %}

    {% endif %}
    {% endwith %}
  </div>

  <div class="container" action="/editar">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for category, message in messages %}

    <script>

      Swal.fire({
        icon: '{{category}}',
        text: '{{message}}',
      })
    </script>

    {% endfor %}

    {% endif %}
    {% endwith %}
  </div>
</table>

{% include 'footer.html' %}

